/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: url(s/productsans/v18/pxiDypQkot1TnFhsFMOfGShVF9eL.ttf) format('truetype');
}
