body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.header-left {
    margin: 0;
}

.header-right {
    position: absolute;
    right: 50px; /* Decrease this value to bring the elements closer to the left */
    display: flex;
    align-items: center;
}

.header-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

h1 {
    font-size: 1.8em;
    margin: 0;
}

nav h3 {
    text-align: left;
    padding-left: 8px;
  }

h4 {
    margin: 0;
    font-size: 0.8em;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: #336699;
}

a:hover {
    color: #4477aa;
}

nav {
  background-color: #333;
  height: calc(100vh - 50px); /* Subtract the new header height */
  position: fixed;
  left: 0;
  top: 70px; /* Set this to the new header height */
  width: 225px;
  text-align: center;
}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

nav a:hover {
    background-color: #444;
    color: #fff;
}

main {
    position: fixed;
    left: 225px;
    top: 70px;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
}
