body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
}

.header-left {
    margin: 0;
    text-align: left;
}

nav {
    background-color: #333;
    height: calc(100vh - 50px);
    position: fixed;
    left: 0;
    top: 50px;
    width: 225px;
    overflow-y: scroll; /* Enable scroll */
    padding: 10px;
    box-sizing: border-box;
    scrollbar-width: none; /* For Firefox */
}

nav::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

nav h3 {
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between; /* Move toggle icon to the right */
    align-items: center;
}

.toggle-symbol {
    font-size: 1.2em;
    margin-left: 10px;
}

.section-content {
    display: block; /* All sections are expanded by default */
    margin-top: 10px;
}

button {
    display: block;
    width: calc(100% - 16px);
    margin: 8px auto;
    padding: 10px;
    background-color: #336699;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em; /* Reduced font size by 2 points */
    text-align: left; /* Left align text within buttons */
}

button:hover {
    background-color: #4477aa;
}

main {
    position: fixed;
    left: 225px;
    top: 50px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 225px;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
}

.footer-info {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #336699;
}

a:hover {
    color: #4477aa;
}
