/** Author: alexeyn@google.com (Alexey Nezhdanov),
 * jacksonlin@google.com (Jackson Lin) */

#d-output-container {
  min-height: 32em;
}

pre#response-text div {
  background-color: rgb(236,239,241) !important;
  color: rgb(27,94,32) !important;
  overflow: auto;
  padding: 15px;
}

pre#response-text div:empty
{
  padding: 0;
}

.dig-top-grid {
  background-color: rgb(250,250,250) !important;
}

.mdl-textfield__label {
    color: #80cbc4;
}

input.dig-button {
    margin: 0 3px;
}

table {
    width: 100%;
    margin: 0 auto;
}

.pre_wrap {
 width: 800px;
 white-space: pre-wrap;
 overflow-wrap: break-word;
}

.custom-page-content {
  max-width: 1180px;
}